.progress {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  transform: rotate(-180deg);
}

.forward {
  transform: rotate(0deg);
}

.imageLink {
  display: inline-block;
}

.row {
  margin-bottom: 1em;
}

.share-icon {
  max-height: 50px;
}

.social {
  max-height: 100px;
}

.vendorPlaylist {
  text-decoration: overline underline;
}

.videoWrapper {
  margin-bottom: 1em;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
